<?xml version="1.0"?>
<model>
  <name>JV1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Uwe Chang</name>
    <email>uwe90711@gmail.com</email>
  </author>

  <description>
    3D model of JetSea Vessel One, a hypothetical surface vehicle designed by
    Rafi Abdullah with input from Cole Biesemeyer.
  </description>
</model>
